flask
flask_cors
flask-session
flask_bcrypt
flask_sqlalchemy
psycopg2-binary
uuid
PyJWT
authlib
google-cloud-storage
python-dotenv
langchain
langchain_experimental
openai
pinecone-client
flask_cors
PyPDF2
pymongo
bs4
docx
python-docx
PyMuPDF
pytesseract
pandas
openpyxl
moviepy
SpeechRecognition
pydub
gunicorn
redis
security==1.2.1 \
    --hash=sha256:4ca5f8cfc6b836e2192a84bb5a28b72c17f3cd1abbfe3281f917394c6e6c9238
    --hash=sha256:0a9dc7b457330e6d0f92bdae3603fecb85394beefad0fd3b5058758a58781ded
